.countdown {
  .bigCircle {
    position: relative;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;

    .smallCircle {
      border-radius: 50%;
      background-color: #272727;
      width: 140px;
      height: 140px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.2em;
      h1 {
        margin: initial;
        padding-top: 1.2em;
        text-align: center;
        color: #fff;
      }
    }
  }
  p {
    color: #fff;
    text-align: center;
    margin-top: 18px;
  }
}