.vote-component {
  .right {
    width: 50%;
    height: 100%;
    background-color: #13dcb4;
    position: absolute;
    left: 0;
    text-align: center;
  }
  .left {
    width: 50%;
    height: 100%;
    background-color: #e74c3c;
    position: absolute;
    right: 0;
    text-align: center;
    vertical-align: middle;
  }
  .back {
    position: absolute;
    top: 20px;
    left: 15px;
    z-index: 99;
  }
  p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 19px;
  }
  i {
    color: #fff;
  }
  .fullsize {
    width: 100% !important;
  }
  .hide {
    display: none;
  }
}