@media (min-width: @screen-md-min) {
  .hackathon {
    .countdown {
      .bigCircle {
        margin-top: 2rem;
        width: 300px;
        height: 300px;

        .smallCircle {
          width: 210px;
          height: 210px;
          font-size: 3.3em;
        }
      }
    }
  }
}

.hackathon {
  .message {
    font-size: 2rem;
  }
}